h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
hr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacto__title--blue {
    color: blue;
}
